.Counter {
  display: flex;
  flex-direction: column;
}

.Button-counter {
  color: white;
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  font-size: 16px;
}
