.message {
  background-color: white;
  color: blue;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}
.message span {
  color: green;
  background-color: aquamarine;
  padding: 2px;
  text-transform: uppercase;
}
